#academics h3,
#academics span {
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
}

.player-panel {
    margin: 20px;
    /*DEBUG: border: 1px solid black;*/
}

body {
  padding-top: 70px;
  overflow: hidden;
}


textarea {
    width: 100%;
}

.tab-pane {
    margin: 15px;
}

#leftMainColumn {
    height:620px;
	padding-right: 30px;
    overflow-y: scroll;
    border-right: solid 4px black;
}

.tab-content {
    overflow-y: scroll;
    height:300px;
}

#mainContainer {
	/*height:100%;
    border:1px solid black;*/
}

#dropdownMenu1 {
    margin-top: 8px;
    margin-bottom: 8px;
}