#academics h3,
#academics span {
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
}

.player-panel {
    margin: 20px;
    /*DEBUG: border: 1px solid black;*/
}

textarea {
    width: 100%;
}

.tab-pane {
    margin: 15px;
}

#leftMainColumn {
	padding-right: 30px;
	/*height: 60vw;*/
    border-right: solid 4px black;
}

#mainContainer {
	/*height:100%;
    border:1px solid black;*/
}

#dropdownMenu1 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.glyphicon-menu-hamburger {
    visibility: hidden;
}

.active tr:hover .glyphicon-menu-hamburger {
    visibility: visible;
}